[submodule "osis_common"]
	path = osis_common
	url = https://github.com/uclouvain/osis-common.git
        branch = master
[submodule "internship"]
	path = internship
	url = https://github.com/uclouvain/osis-portal-internship.git
[submodule "dissertation"]
	path = dissertation
	url = https://github.com/uclouvain/osis-portal-dissertation.git
[submodule "continuing_education"]
	path = continuing_education
	url = https://github.com/uclouvain/osis-portal-continuing-education.git
