[submodule "osis_common"]
	path = osis_common
	url = https://github.com/uclouvain/osis-common.git
        branch = master
[submodule "internship"]
	path = internship
	url = https://github.com/uclouvain/osis-portal-internship.git
[submodule "mobility"]
	path = mobility
	url = https://github.com/uclouvain/osis-portal-mobility.git
