venv/
*.pyc
.idea/
base/tests/sent_mails/
*.mo

jsi18n/
/cover.pdf
/output.pdf
/test.pdf
/uploads/
*.iml
.env
/frontoffice/settings/dev.py
.coverage
.env_bak
.pylintrc
VENV/
coverage.xml
htmlcov/
osis-portal-dev-pylint.pylintrc
pylint-report.txt
pylint.html
pylint.txt

*.log
