Django==3.2.23
django-bootstrap3==23.2  # Version 23.3 drops Python3.7 support
django-localflavor==4.0 # Version 4.1 drops Python3.7 support
django-statici18n==2.4.0
djangorestframework==3.14.0
mock==5.1.0
pika==0.12.0
psycopg2-binary==2.8.6
django-analytical==3.1
factory-boy==2.11.1
django-dotenv==1.4.2
unidecode==1.3.8
requests==2.31.0
openpyxl==3.1.2
django-registration==3.4
django-autocomplete-light==3.9.7
django-hijack==3.4.5
pycodestyle==2.10.0
pylint==2.17.7  # Version 3 drops Python3.7 support
diff-cover==7.7.0  # Useful for diff-quality
django-waffle==3.0.0 # Version 4.0.0 drops Python3.7 support
tblib==2.0.0
django-htmx==1.15.0  # Version 1.16.0 drops Python3.7 support
django-sass==1.1.0

# OpenTelemetry
opentelemetry-api==1.15.0
opentelemetry-sdk==1.15.0
opentelemetry-instrumentation-django==0.36b0
opentelemetry-instrumentation-psycopg2==0.36b0
opentelemetry-instrumentation-urllib3==0.36b0
opentelemetry-exporter-otlp==1.15.0

# SDKs
git+https://github.com/uclouvain/osis-attribution-sdk.git@wip-build-1.21
git+https://github.com/uclouvain/osis-learning-unit-enrollment-sdk.git@wip-build-1.1
git+https://github.com/uclouvain/osis-learning-unit-sdk.git@wip-build-1.14
git+https://github.com/uclouvain/osis-offer-enrollment-sdk.git@wip-build-1.4
git+https://github.com/uclouvain/osis-education-group-sdk.git@wip-build-1.12
git+https://github.com/uclouvain/osis-program-management-sdk.git@wip-build-1.4
git+https://github.com/uclouvain/osis-reference-sdk.git@wip-build-1.31
git+https://github.com/uclouvain/osis-organisation-sdk.git@wip-build-1.4
git+https://github.com/uclouvain/osis-assessments-sdk.git@build-1.4.0
git+https://github.com/uclouvain/osis-exam-enrollment-sdk.git@build-1.0
git+https://github.com/uclouvain/osis-inscription-cours-sdk.git@wip-build-1.13
git+https://github.com/uclouvain/osis-parcours-interne-sdk.git@wip-build-1.05
git+https://github.com/uclouvain/osis-inscription-evaluation-sdk.git@wip-build-1.0

# Modules transverses
git+https://github.com/uclouvain/osis-document.git@0.10.2#egg=osis_document
git+https://github.com/uclouvain/osis-signature.git@0.1#egg=osis_signature
git+https://github.com/uclouvain/osis-notification.git@0.1.2#egg=osis_notification
git+https://github.com/uclouvain/osis-async.git@0.5#egg=osis_async

-r ./osis_common/requirements.txt
