{% load staticfiles %}
{% load i18n %}
{% load message %}
{% load get_at_index %}

{{pnl_foreign_detail_error}}
<div id="pnl_foreign_education_{{curriculum.academic_year.year}}"
     style="{%if curriculum.path_type = 'FOREIGN_UNIVERSITY' or pnl_foreign_detail_error %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
    <br>
    <div id="pnl_university_{{curriculum.academic_year.year}}" class="row">
        <div class="col-md-3">
            <label>{% trans 'university_country'%}</label>
            <select class="form-control"
                    id="slt_national_institution_{{curriculum.academic_year.year}}"
                    name="foreign_institution_country_{{curriculum.academic_year.year}}">
                <option value="-">-</option>
                {% for university in universities_countries %}
                <option value="{{ university.country.id }}" {%if curriculum.national_institution.country.id == university.country.id %}selected{%endif%}>
                    {{ university.country }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label>{% trans 'city'%}</label>
             <select class="form-control"
                    id="slt_cities_{{curriculum.academic_year.year}}"
                    name="foreign_institution_city_{{curriculum.academic_year.year}}">
                <option value="-">-</option>
                {% for city in universities_cities|get_at_index:forloop.counter0 %}
                <option value="{{ city }}" {%if curriculum.national_institution.city == city %}selected{%endif%}>
                    {{ city }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-5">
            <label>{% trans 'university_name'%}</label>
             <select class="form-control"
                    id="slt_foreign_university_name_{{curriculum.academic_year.year}}"
                    name="foreign_institution_name_{{curriculum.academic_year.year}}">
                <option value="-">-</option>
                {% for university in universities|get_at_index:forloop.counter0 %}
                <option value="{{ university }}" {%if curriculum.national_institution.id == university.id %}selected{%endif%}>
                    {{ university }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <font class="error" style="margin-left:5px;">
                {% message_error validation_messages year=curriculum.academic_year.year|lower param='foreign_institution_country' %}</font>
        </div>
        <div class="col-md-4">
            <label>{% trans 'specify_locality'%}</label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="foreign_institution_locality_adhoc_{{curriculum.academic_year.year}}"
                       id="chb_national_institution_locality_adhoc_{{curriculum.academic_year.year}}"
                       onclick="disabled_reset_field_txt('txt_city_specify_{{curriculum.academic_year.year}}',! this.checked);reset_slt('slt_cities_{{curriculum.academic_year.year}}');"
                       {%if curriculum.national_institution.adhoc = True %}checked{%endif%}>
            </label>
        </div>
        <div class="col-md-5">
            <label>{% trans 'specify_university_name'%}</label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="foreign_institution_name_adhoc_{{curriculum.academic_year.year}}"
                       id="chb_national_institution_name_adhoc_{{curriculum.academic_year.year}}"
                       onclick="disabled_reset_field_txt('txt_name_specify_{{curriculum.academic_year.year}}',! this.checked);reset_slt('slt_foreign_university_name_{{curriculum.academic_year.year}}');"
                       {%if curriculum.national_institution.adhoc = True %}checked{%endif%}>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-4">
            <label>{% trans 'specify'%}</label>
            <input type="text" class="form-control"
                   id="txt_city_specify_{{curriculum.academic_year.year}}"
                   name="city_specify_{{curriculum.academic_year.year}}"
                   value="{%if curriculum.national_institution.adhoc = True %}curriculum.national_institution.city{%endif%}"
                   {%if not curriculum.national_institution or curriculum.national_institution.adhoc = False%}disabled{%endif%}>
        </div>
        <div class="col-md-5">
            <label>{% trans 'specify'%}</label>
            <input type="text" class="form-control"
                   id="txt_name_specify_{{curriculum.academic_year.year}}"
                   name="name_specify_{{curriculum.academic_year.year}}"
                   value="{%if curriculum.national_institution.adhoc = True %}curriculum.national_institution.name{%endif%}"
                   {%if not curriculum.national_institution or curriculum.national_institution.adhoc = False%}disabled{%endif%}>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <font class="error" style="margin-left:5px;">
                {% message_error validation_messages year=curriculum.academic_year.year|lower param='foreign_institution_city' %}</font>
        </div>
        <div class="col-md-4">
            <font class="error" style="margin-left:5px;">
                {% message_error validation_messages year=curriculum.academic_year.year|lower param='foreign_institution' %}</font>
        </div>
    </div>
</div>