{% load staticfiles %}
{% load i18n %}
{% load message %}
{% load get_at_index %}

{{pnl_foreign_detail_error}}
<div id="pnl_foreign_education_{{curriculum.academic_year.year}}"
     style="{%if curriculum.path_type = 'FOREIGN_UNIVERSITY' or pnl_foreign_detail_error %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
    <br>
    <div id="pnl_university_{{curriculum.academic_year.year}}" class="row">
        <div class="col-md-3">
            <label>{% trans 'university_country'%}</label>
            <select class="form-control"
                    id="slt_national_institution_{{curriculum.academic_year.year}}"
                    name="foreign_institution_country_{{curriculum.academic_year.year}}">
                <option value="-">-</option>
                {% for university in universities_countries %}
                <option value="{{ university.country.id }}" {%if curriculum.national_institution.country.id == university.country.id %}selected{%endif%}>
                    {{ university.country }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label>{% trans 'city'%}</label>
             <select class="form-control"
                    id="slt_cities_{{curriculum.academic_year.year}}"
                    name="foreign_institution_city_{{curriculum.academic_year.year}}">
                <option value="-">-</option>
                {% for city in universities_cities|get_at_index:forloop.counter0 %}
                <option value="{{ city }}" {%if curriculum.national_institution.city == city %}selected{%endif%}>
                    {{ city }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-5">
            <label>{% trans 'university_name'%}</label>
             <select class="form-control"
                    id="slt_foreign_university_name_{{curriculum.academic_year.year}}"
                    name="foreign_institution_name_{{curriculum.academic_year.year}}">
                <option value="-">-</option>
                {% for university in universities|get_at_index:forloop.counter0 %}
                <option value="{{ university.id }}" {%if curriculum.national_institution.id == university.id %}selected{%endif%}>
                    {{ university }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <font class="error" style="margin-left:5px;">
                {% message_error validation_messages year=curriculum.academic_year.year|lower param='foreign_institution_country' %}</font>
        </div>
        <div class="col-md-4">
            <label>{% trans 'specify_locality'%}</label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="foreign_institution_locality_adhoc_{{curriculum.academic_year.year}}"
                       id="chb_national_institution_locality_adhoc_{{curriculum.academic_year.year}}"
                       onclick="disabled_reset_field_txt('txt_city_specify_{{curriculum.academic_year.year}}',! this.checked);reset_slt('slt_cities_{{curriculum.academic_year.year}}');"
                       {%if curriculum.national_institution.adhoc = True %}checked{%endif%}>
            </label>
        </div>
        <div class="col-md-5">
            <label>{% trans 'specify_university_name'%}</label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="foreign_institution_name_adhoc_{{curriculum.academic_year.year}}"
                       id="chb_national_institution_name_adhoc_{{curriculum.academic_year.year}}"
                       onclick="disabled_reset_field_txt('txt_name_specify_{{curriculum.academic_year.year}}',! this.checked);reset_slt('slt_foreign_university_name_{{curriculum.academic_year.year}}');"
                       {%if curriculum.national_institution.adhoc = True %}checked{%endif%}>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-4">
            <label>{% trans 'specify'%}</label>
            <input type="text" class="form-control"
                   id="txt_city_specify_{{curriculum.academic_year.year}}"
                   name="city_specify_{{curriculum.academic_year.year}}"
                   value="{%if curriculum.national_institution.adhoc = True %}curriculum.national_institution.city{%endif%}"
                   {%if not curriculum.national_institution or curriculum.national_institution.adhoc = False%}disabled{%endif%}>
        </div>
        <div class="col-md-5">
            <label>{% trans 'specify'%}</label>
            <input type="text" class="form-control"
                   id="txt_name_specify_{{curriculum.academic_year.year}}"
                   name="name_specify_{{curriculum.academic_year.year}}"
                   value="{%if curriculum.national_institution.adhoc = True %}curriculum.national_institution.name{%endif%}"
                   {%if not curriculum.national_institution or curriculum.national_institution.adhoc = False%}disabled{%endif%}>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <font class="error" style="margin-left:5px;">
                {% message_error validation_messages year=curriculum.academic_year.year|lower param='foreign_institution_city' %}</font>
        </div>
        <div class="col-md-4">
            <font class="error" style="margin-left:5px;">
                {% message_error validation_messages year=curriculum.academic_year.year|lower param='foreign_institution' %}</font>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>{% trans 'domain' %} *</label>
            <div>
                <select class="form-control"
                        id="slt_domain_{{curriculum.academic_year.year}}"
                        name="domain_{{curriculum.academic_year.year}}"
                        onchange="refresh_pnl_subdomain(this,{{curriculum.academic_year.year}});">
                    <option value="-">-</option>
                    {% for domain in domains %}
                    <option value="{{ domain.id }}" {%if curriculum.domain.id == domain.id %}selected{%endif%}>
                        {{ domain }}
                    </option>
                    {% endfor %}
                </select>
                <font class="error" style="margin-left:5px;">
                    {% message_error validation_messages year=curriculum.academic_year.year|lower param='domain' %}</font>
            </div>
        </div>
        <div class="col-md-4">
            <div id="pnl_subdomain_{{curriculum.academic_year.year}}"
                 >
                <label>{% trans 'subdomain' %} <span id="lbl_subdomain_mandatory_{{curriculum.academic_year.year}}">{%if curriculum.domain.sub_domains%}*{%endif%}</span></label>
                <div>
                    <select class="form-control"
                            id="slt_subdomain_{{curriculum.academic_year.year}}"
                            name="subdomain_{{curriculum.academic_year.year}}"
                           {%if not curriculum.domain.sub_domains %}disabled{%endif%}>
                        <option value="-">-</option>
                        {% for subdomain in subdomains %}
                        <option value="{{ subdomain.id }}" {%if curriculum.sub_domain.id == subdomain.id %}selected{%endif%} title="{{subdomain.parent.name}} - {{subdomain.name}}">
                            {{ subdomain }}
                        </option>
                        {% endfor %}
                    </select>

                    <font class="error" style="margin-left:5px;">
                        {% message_error validation_messages year=curriculum.academic_year.year|lower param='subdomain' %}</font>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label>{% trans 'grade_type' %} *</label>
            <div>
                <select class="form-control"
                        id="slt_grade_type_{{curriculum.academic_year.year}}"
                        name="grade_type_{{curriculum.academic_year.year}}">
                    <option value="-">-</option>
                    {% for grade_type in grade_types %}
                    <option value="{{ grade_type.id }}"
                            {%if curriculum.grade_type.id == grade_type.id%}selected{%endif%}>{{ grade_type }}
                    </option>
                    {% endfor %}
                </select>
                <font class="error" style="margin-left:5px;">
                    {% message_error validation_messages year=curriculum.academic_year.year|lower param='grade_type' %}</font>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label>{% trans 'question_domain' %}</label>
        <div>
            <label class="radio-inline">
                <input type="radio"
                       name="corresponds_to_domain_{{curriculum.academic_year.year}}"
                       id="rdb_corresponds_to_domain_true_{{curriculum.academic_year.year}}"
                       value="true"
                       {%if curriculum.diploma_title %}checked{%endif%}
                       onclick="disabled_reset_field_txt('txt_diploma_title_{{curriculum.academic_year.year}}',false);"
                > {% trans 'yes' %}
            </label>
            <label class="radio-inline">
                <input type="radio"
                       name="corresponds_to_domain_{{curriculum.academic_year.year}}"
                       id="rdb_corresponds_to_domain_false_{{curriculum.academic_year.year}}" value="false"
                       {%if not curriculum.diploma_title %}checked{%endif%}
                       onclick="disabled_reset_field_txt('txt_diploma_title_{{curriculum.academic_year.year}}',true);"
                > {% trans 'no' %}
            </label>
            <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='diploma' %}</font>

        </div>
    </div>
    <br>
    <div>
       <label>{% trans 'question_domain_title' %}</label>
       <input type="text" class="form-control"
              id="txt_diploma_title_{{curriculum.academic_year.year}}"
              name="diploma_title_{{curriculum.academic_year.year}}"
              value="{{ curriculum.diploma_title  | default_if_none:'' }}"
              {%if not curriculum.diploma_title %}disabled{%endif%}>
    </div>
    <br>
    <div class="form-group">
        <label>{% trans 'question_year_diploma' %} *</label>
        <div>
            <label class="radio-inline">
                <input type="radio"
                       name="diploma_{{curriculum.academic_year.year}}"
                       id="rdb_diploma_true_{{curriculum.academic_year.year}}"
                       value="true"
                       {%if curriculum.diploma = True %}checked{%endif%}
                       onclick="display('pnl_diploma_files_{{curriculum.academic_year.year}}',true);"
                > {% trans 'yes' %}
            </label>
            <label class="radio-inline">
                <input type="radio"
                       name="diploma_{{curriculum.academic_year.year}}"
                       id="rdb_diploma_false_{{curriculum.academic_year.year}}" value="false"
                       {%if curriculum.diploma = False %}checked{%endif%}
                       onclick="display('pnl_diploma_files_{{curriculum.academic_year.year}}',false);"
                > {% trans 'no' %}
            </label>
            <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='diploma' %}</font>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <span><label>{% trans 'obtained_result' %}</label><label
                    style="{%if curriculum.diploma and curriculum.academic_year.year >= 2014 or curriculum.academic_year.year < 2014 %}visibility:visible;display:bloc;visibility:hidden;display:none;{% endif %}">*</label></span>
            <div>
                <label class="radio-inline">
                    <input type="radio"
                           name="result_{{curriculum.academic_year.year}}"
                           id="rdb_result_succeed_{{curriculum.academic_year.year}}"
                           value="SUCCEED"
                           {%if curriculum.result = 'SUCCEED' %}checked{%endif%}>
                    {% trans 'succeed_result' %}
                </label>
                <label class="radio-inline">
                    <input type="radio"
                           name="result_{{curriculum.academic_year.year}}"
                           id="rdb_result_failed_{{curriculum.academic_year.year}}"
                           value="FAILED"
                           {%if curriculum.result = 'FAILED' %}checked{%endif%}>
                    {% trans 'failed' %}
                </label>
                <label class="radio-inline">
                    <input type="radio"
                           name="result_{{curriculum.academic_year.year}}"
                           id="rdb_no_result_{{curriculum.academic_year.year}}"
                           value="NO_RESULT"
                           {%if curriculum.result = 'NO_RESULT' %}checked{%endif%}>
                    {% trans 'no_result' %}
                </label>
                <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='result' %}</font>
            </div>
        </div>
        <div class="col-md-3">
            <label>{% trans 'credits_enrolled' %}</label>
            <input type="text"
                   name="credits_enrolled_{{curriculum.academic_year.year}}"
                   id="txt_credits_enrolled_{{curriculum.academic_year.year}}"
                   value="{{ curriculum.credits_enrolled | default_if_none:'' }}"
                   class="form-control">
            <font class="error" style="margin-left:5px;">
                {% message_error validation_messages year=curriculum.academic_year.year|lower param='credits_enrolled' %}</font>
        </div>
        <div class="col-md-3">
            <label>{% trans 'credits_acquired' %}</label>
            <input type="text"
                   name="credits_obtained_{{curriculum.academic_year.year}}"
                   id="txt_credits_obtained_{{curriculum.academic_year.year}}"
                   value="{{ curriculum.credits_obtained  | default_if_none:'' }}"
                   class="form-control">

            <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='credits_obtained' %}</font>
        </div>
    </div>
</div>