{% load i18n %}
{% load message %}
{% load math %}
<div id="pnl_national_education_{{curriculum.academic_year.year}}"
     style="{%if curriculum.path_type = 'LOCAL_UNIVERSITY' or curriculum.path_type = 'LOCAL_HIGH_EDUCATION'  or pnl_national_detail_error %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <label>{% trans 'education_community' %} *</label>
            <br>
            <label class="radio-inline">
                <input type="radio"
                       name="national_education_{{curriculum.academic_year.year}}"
                       id="rdb_national_education_french_{{curriculum.academic_year.year}}"
                       {%if curriculum.national_education = 'FRENCH' %}checked{%endif%}
                       value="FRENCH"
                       onclick="display('pnl_national_detail_{{curriculum.academic_year.year}}',true);display('slt_french_universities_{{curriculum.academic_year.year}}',true);display('slt_dutch_universities_{{curriculum.academic_year.year}}',false);reset_slt('slt_dutch_universities_{{curriculum.academic_year.year}}');"> {%trans 'french_belgian_community'%}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="national_education_{{curriculum.academic_year.year}}"
                     id="rdb_national_education_dutch_{{curriculum.academic_year.year}}"
                     {%if curriculum.national_education = 'DUTCH' %}checked{%endif%}
                     value="DUTCH"
                     onclick="display('pnl_national_detail_{{curriculum.academic_year.year}}',true);display('slt_french_universities_{{curriculum.academic_year.year}}',false);display('slt_dutch_universities_{{curriculum.academic_year.year}}',true);reset_slt('slt_french_universities_{{curriculum.academic_year.year}}');"> {%trans 'dutch_belgian_community'%}
            </label>
            <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='national_education' %}</font>
            <br>
            <br>
        </div>
    </div>
</div>
<div id="pnl_national_detail_{{curriculum.academic_year.year}}" class="form-inline"
     style="{%if curriculum.path_type = 'LOCAL_UNIVERSITY' or curriculum.path_type = 'LOCAL_HIGH_EDUCATION' or pnl_national_detail_error %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
    <br>
        <label>{% trans 'university' %} *</label>
        <select class="form-control"
                id="slt_french_universities_{{curriculum.academic_year.year}}"
                name="national_institution_french_{{curriculum.academic_year.year}}"
                style="{%if curriculum.national_education = 'FRENCH' %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
                <option value="-">-</option>
            {% for university in local_universities_french %}
                <option value="{{ university.id }}" {%if curriculum.national_institution.id == university.id %}selected{%endif%}>{{ university }}</option>
            {% endfor %}
        </select>
        <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='national_institution_french' %}</font>
        <select class="form-control"
                id="slt_dutch_universities_{{curriculum.academic_year.year}}"
                name="national_institution_dutch_{{curriculum.academic_year.year}}"
                style="{%if curriculum.national_education = 'DUTCH' %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
                <option value="-">-</option>
            {% for university in local_universities_dutch %}
                <option value="{{ university.id }}" {%if curriculum.national_institution.id == university.id %}selected{%endif%}>{{ university }}</option>
            {% endfor %}
        </select>
        <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='national_institution_dutch' %}</font>

        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>{% trans 'domain' %} *</label>
                 <select class="form-control"
                         id="slt_domain_{{curriculum.academic_year.year}}"
                         name="domain_{{curriculum.academic_year.year}}">
                        <option value="-">-</option>
                    {% for domain in domains %}
                        <option value="{{ domain.id }}" {%if curriculum.domain.id == domain.id %}selected{%endif%}>{{ domain }}</option>
                    {% endfor %}
                </select>
                <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='domain' %}</font>
            </div>
            <div class="col-md-6">
                <label>{% trans 'grade_type' %} *</label>
                <select class="form-control"
                         id="slt_grade_type_{{curriculum.academic_year.year}}"
                         name="grade_type_{{curriculum.academic_year.year}}">
                        <option value="-">-</option>
                    {% for grade_type in grade_types %}
                        <option value="{{ grade_type.id }}" {%if curriculum.grade_type.id == grade_type.id %}selected{%endif%}>{{ grade_type }}</option>
                    {% endfor %}
                 </select>
                <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='grade_type' %}</font>
            </div>
        </div>
        <br>
        <div class="form-group" >
            <label>{% trans 'question_year_diploma' %} *</label>
            <label class="radio-inline">
              <input type="radio"
                     name="diploma_{{curriculum.academic_year.year}}"
                     id="rdb_diploma_true_{{curriculum.academic_year.year}}"
                     value="true"
                     {%if curriculum.diploma = True %}checked{%endif%}
                     onclick="display('pnl_diploma_files_'{{curriculum.academic_year.year}},true);"
                     > {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="diploma_{{curriculum.academic_year.year}}"
                     id="rdb_diploma_false_{{curriculum.academic_year.year}}" value="false"
                     {%if curriculum.diploma = False %}checked{%endif%}
                     onclick="display('pnl_diploma_files_'{{curriculum.academic_year.year}},false);"
                     > {% trans 'no' %}
            </label>
        </div>
        <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='diploma' %}</font>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <span><label>{% trans 'obtained_result' %}</label><label style="{%if curriculum.diploma and curriculum.academic_year.year >= 2014 or curriculum.academic_year.year < 2014 %}visibility:visible;display:bloc;visibility:hidden;display:none;{% endif %}">*</label></span>
                <label class="radio-inline">
                  <input type="radio"
                         name="result_{{curriculum.academic_year.year}}"
                         id="rdb_result_succeed_{{curriculum.academic_year.year}}"
                         value="SUCCEED"
                         {%if curriculum.result = 'SUCCEED'%}checked{%endif%}>
                    {% trans 'succeed_result' %}
                </label>
                <label class="radio-inline">
                  <input type="radio"
                         name="result_{{curriculum.academic_year.year}}"
                         id="rdb_result_failed_{{curriculum.academic_year.year}}"
                         value="FAILED"
                         {%if curriculum.result = 'FAILED'%}checked{%endif%}>
                    {% trans 'failed' %}
                </label>
                <label class="radio-inline">
                  <input type="radio"
                         name="result_{{curriculum.academic_year.year}}"
                         id="rdb_no_result_{{curriculum.academic_year.year}}"
                         value="NO_RESULT"
                         {%if curriculum.result = 'NO_RESULT'%}checked{%endif%}>
                   {% trans 'no_result' %}
                </label>
                <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='result' %}</font>
            </div>
            <div class="col-md-3">
                <label>{% trans 'credits_enrolled' %}</label>
                <input type="text"
                       name="credits_enrolled_{{curriculum.academic_year.year}}"
                       id="txt_credits_enrolled_{{curriculum.academic_year.year}}"
                       value="{{ curriculum.credits_enrolled | default_if_none:'' }}"
                       class="form-control">

                <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='credits_enrolled' %}</font>
            </div>
            <div class="col-md-3">
                <label>{% trans 'credits_acquired' %}</label>
                <input type="text"
                       name="credits_obtained_{{curriculum.academic_year.year}}"
                       id="txt_credits_obtained_{{curriculum.academic_year.year}}"
                       value="{{ curriculum.credits_obtained  | default_if_none:'' }}"
                       class="form-control">

                <font class="error" style="margin-left:5px;">{% message_error validation_messages year=curriculum.academic_year.year|lower param='credits_obtained' %}</font>
            </div>
        </div>
        <br>
        <label>{% trans 'original_of' %} *</label>
        <div class="row"
             id="pnl_diploma_files_{{curriculum.academic_year.year}}"
             style="{%if curriculum.diploma %}visibility:true;display:block;{%else%}visibility:visible;display:none;{%endif%}">
            <div class="col-md-6">
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#pnl_upload_file_modal"
                        title="{% trans 'diploma'%} - {% trans 'recto'%}"
                        id="bt_upload_file_curriculum_diploma_recto_{{curriculum.academic_year.year}}" style="width:250px;">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'diploma'%} - {% trans 'recto'%}
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#pnl_upload_file_modal"
                        title="{% trans 'diploma'%} - {% trans 'verso'%}"
                        id="bt_upload_file_curriculum_diploma_verso_{{curriculum.academic_year.year}}"
                        style="width:250px;">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'diploma'%} - {% trans 'verso'%}
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#pnl_upload_file_modal"
                        title="{% trans 'transcript'%} - {% trans 'recto'%}"
                        id="bt_upload_file_curriculum_transcript_recto_{{curriculum.academic_year.year}}"
                        style="width:250px;">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'transcript'%} - {% trans 'recto'%}
                </button>

            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#pnl_upload_file_modal"
                        title="{% trans 'transcript'%} - {% trans 'verso'%}"
                        id="bt_upload_file_transcript_diploma_verso_{{curriculum.academic_year.year}}"  style="width:250px;">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'transcript'%} - {% trans 'verso'%}
                </button>
            </div>
        </div>
</div>