{% if erreurs %}
<i class="fa-solid fa-circle-exclamation fa-danger" title="{{ erreurs|join:"\n" }}"></i>
{% else %}
<form id="form-inscription-{{ code_mini_formation }}" method="post">
    {% csrf_token %}
    <input
            id="checkbox-{{ code_mini_formation }}"
            type="checkbox"
            name="checkbox_mini_formation"
            hx-include="#form-inscription-{{ code_mini_formation }}"
            hx-target="#form-inscription-{{ code_mini_formation }}"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-vals='{"code_mini_formation": "{{ code_mini_formation }}"}'
            hx-post="{% url 'inscription-aux-cours:inscrire-mini-formation' sigle_formation=sigle_formation %}"
    >
</form>
{% endif %}