# Development settings file where optional apps have to be defined
# It use frontoffice.settings.base as base file

# Copy this file to dev.py and set DJANGO_SETTINGS_MODULE to 'frontoffice.settings.dev' in your .env file

# Install  modules in your VENV
# (VENV)$ pip install django-pdb
# (VENV)$ pip install django-extensions
# (VENV)$ pip install django-debug-toolbar

from .base import *

# Optional apps
# In this example attribution, performance and internship are not part of installed apps
OPTIONAL_APPS = (
    'dashboard',
    'attestation',
    'dissertation',
    'exam_enrollment',
)

# In this case Queue are used but skiped during tests
SKIP_QUEUES_TESTS = True

INSTALLED_APPS += OPTIONAL_APPS
APPS_TO_TEST += OPTIONAL_APPS

if DEBUG:
    INSTALLED_APPS = INSTALLED_APPS + (
        'django_extensions',
        'debug_toolbar',
    )

    MIDDLEWARE_CLASSES = MIDDLEWARE_CLASSES + (
        'debug_toolbar.middleware.DebugToolbarMiddleware',
    )

    INTERNAL_IPS = ('127.0.0.1',)

    DEBUG_TOOLBAR_CONFIG = {
        'INTERCEPT_REDIRECTS': False,
    }
