# Development settings file where optional apps are the same as in frontoffice.settings.local
# It use backoffice.settings.local as base file

# Copy this file to dev.py and set DJANGO_SETTINGS_MODULE to 'frontoffice.settings.dev' in your .env file

# Install  modules in your VENV
# (VENV)$ pip install django-pdb
# (VENV)$ pip install django-extensions
# (VENV)$ pip install django-debug-toolbar

from .local import *


# In this example Queues are not used
QUEUES = {}

if DEBUG:
    INSTALLED_APPS = INSTALLED_APPS + (
        'django_extensions',
        'debug_toolbar',
    )

    MIDDLEWARE_CLASSES = MIDDLEWARE_CLASSES + (
        'debug_toolbar.middleware.DebugToolbarMiddleware',
    )

    INTERNAL_IPS = ('127.0.0.1',)

    DEBUG_TOOLBAR_CONFIG = {
        'INTERCEPT_REDIRECTS': False,
    }
