{% load dictionnary %}

<div class="panel panel-default"
     id="pnl_admission_exam"
     style="{%if secondary_education.secondary_education_diploma = False %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
    <div class="panel-heading">Examen d'admission</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <label>Avez-vous été inscrit(e) ou allez-vous être inscrit(e) à un examen d'admission?*</label>
                <br>
                <label class="radio-inline">
                  <input type="radio"
                         name="admission_exam"
                         id="rdb_admission_exam_true"
                         value="true"
                         onclick="display('pnl_admission_exam_detail',true);"
                         {%if secondary_education.admission_exam = True %}checked{%endif%}> Oui
                </label>
                <label class="radio-inline">
                  <input type="radio"
                         name="admission_exam"
                         id="rdb_admission_exam_false"
                         value="false"
                         onclick="display('pnl_admission_exam_detail',false);"
                         {%if secondary_education.admission_exam = False %}checked{%endif%}> Non
                </label>
                {%if validation_messages and validation_messages|get_item:'admission_exam'%}
                    <br><br><font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'admission_exam'}}</font>
                {% endif %}
            </div>
        </div>
        <div id="pnl_admission_exam_detail"
             style="{%if secondary_education.admission_exam = True %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
            <div class="form-inline">
                <br>
                <label>A quelle session (date)? *</label>
                <input class="form-control"
                       id="txt_admission_exam_date"
                       name="admission_exam_date"
                       value="{{secondary_education.admission_exam_date | default_if_none:''|date:"j/m/Y"}}">
                {%if validation_messages and validation_messages|get_item:'admission_exam_date'%}<font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'admission_exam_date'}}</font>{% endif %}
                <br>
                <br>
                <label>Auprès de quel établissement (nom)? *</label>
                <input class="form-control" id="txt_admission_exam_school" name="admission_exam_school">
                <br>
                {%if validation_messages and validation_messages|get_item:'admission_exam_school'%}
                    <br><font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'admission_exam_school'}}</font>
                {% endif %}

            </div>
            <br>
            <label>Quel type d'examen? *</label>
            <br>
            {% for exam_type in exam_types %}
                <input type="radio"
                       name="admission_exam_type"
                       id="rdb_admission_exam_type{{forloop.counter0}}"
                       value="{{exam_type}}"
                       {% if secondary_education.admission_exam_type = exam_type %}
                            checked
                       {%endif%}
                       {% if exam_type = 'OTHER_EXAM'%}
                            onclick="disabled_field_txt('txt_admission_exam_type_other', false)"
                       {%else%}
                            onclick="disabled_field_txt('txt_admission_exam_type_other', true);reset_input('txt_admission_exam_type_other');"
                       {%endif%}
                         > {{exam_types|get_item:exam_type}}<br>
            {% endfor %}
            <br>
            <label>Si autre, précisez le nom:</label>
            <input class="form-control"
                   id="txt_admission_exam_type_other"
                   name="admission_exam_type_other"
                   {% if secondary_education.admission_exam_type != 'OTHER_EXAM' %}
                            disabled
                   {%endif%}>
            {%if validation_messages and validation_messages|get_item:'admission_exam_type'%}
                <br>
                <font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'admission_exam_type'}}</font><br>
            {% endif %}
            <br>
            <label>Quel résultat avez-vous obtenu? *</label>
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="admission_exam_result"
                     id="rdb_admission_exam_result_low"
                     value="LOW"
                     {%if secondary_education.admission_exam_result = 'LOW' %}checked{%endif%}> Moins de 65%
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="admission_exam_result"
                     id="rdb_admission_exam_result_middle"
                     value="MIDDLE"
                     {%if secondary_education.admission_exam_result = 'MIDDLE'%}checked{%endif%}> Entre 65 et 75%
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="admission_exam_result"
                     id="rdb_admission_exam_result_high"
                     value="HIGH"
                     {%if secondary_education.admission_exam_result  = 'HIGH' %}checked{%endif%}> Plus de 75%
            </label>
            <br>
            {%if validation_messages and validation_messages|get_item:'admission_exam_result'%}
                <font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'admission_exam_result'}}</font>
            {% endif %}
            <br>
            <label>Veuillez joindre une copie de votre certificat ou une preuve d'inscription à </label>
            &nbsp;&nbsp;<input type="button" value="Cliquez-ici pour joindre"/>
        </div>

    </div>
</div>