{% load dictionnary %}

<div id="pnl_belgian_detail"
     style="{%if object_application.rdb_belgian_foreign = True %}
                visibility:visible;display:block;
            {%else%}
                visibility:hidden;display:none;
            {%endif%}">
    <div class="panel panel-default">
        <div class="panel-heading">Etablissement</div>
        <div class="panel-body">
            <label>Dans quelle Communauté avez-vous suivi(ou suivez-vous) la dernière année de vos études
                secondaires?*</label>
            <br>
            <label class="radio-inline">
                <input type="radio"
                       name="rdb_belgian_community"
                       id="rdb_belgian_community_french"
                       {%if object_application.rdb_belgian_community = 'FRENCH' %}checked{%endif%}
                       value="FRENCH" onclick="show_hide_pnl_daes();"> Communauté française de Belgique
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_belgian_community"
                     id="rdb_belgian_community_dutch"
                     {%if object_application.rdb_belgian_community = 'DUTCH' %}checked{%endif%}
                     value="DUTCH" onclick="show_hide_pnl_daes();"> Communauté néerlandophone de Belgique
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_belgian_community"
                     id="rdb_belgian_community_german"
                     {%if object_application.rdb_belgian_community = 'GERMAN' %}checked{%endif%}
                     value="GERMAN" onclick="show_hide_pnl_daes();"> Communauté germanophone
            </label>
            {%if  validation_messages and validation_messages|get_item:'rdb_belgian_community'%}
                <font class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'rdb_belgian_community'}}</font>
            {% endif %}
            <br>
            <br>
            <label>Quel établissement scolaire a délivré ou délivrera votre certificat d'enseignement
                secondaire supérieur (C.E.S.S.)?*</label>
            <br>
            Pour vous y aider, nous vous proposons de le rechercher soit par localité soit par code postal.
            <br>
            <div class="form-inline">
                <div class="form-group">
                    <label>Par localité</label>
                     <select class="form-control"
                             id="slt_cities"
                             name="city">
                        {% for c in cities %}
                            <option value="{{ c.id }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>&nbsp;&nbsp;&nbsp;Par code postal</label>
                     <select class="form-control"
                             id="slt_postal_codes"
                             name="postal_code">
                        {% for p in postal_codes %}
                            <option value="{{ p.id }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>&nbsp;&nbsp;&nbsp;Par établissement</label>
                     <select class="form-control"
                             id="slt_schools"
                             name="school">
                        {% for s in schools %}
                            <option value="{{ s.id }}">{{ s }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div>
                Si vous ne trouvez pas votre établissement dans cette liste, mentionnez-le ci-après
                <br><br>
                <div class="row">
                    <div class="col-md-3">
                        <label>
                          <input type="checkbox"
                                 id="chb_other_school"
                                 name="other_school"
                                 onclick="disabled_field('txt_CESS_other_school_name',this);disabled_field('txt_CESS_other_school_city',this);disabled_field('txt_CESS_other_school_postal_code',this);
                                          reset_input('txt_CESS_other_school_name');reset_input('txt_CESS_other_school_city');reset_input('txt_CESS_other_school_postal_code');"
                                 {% if object_application.CESS_other_school_name or object_application.CESS_other_school_city or object_application.CESS_other_school_postal_code%}checked{%endif%}> Autre établissement
                        </label>
                    </div>
                    <div id="pnl_other_school"
                         style="visibility:hidden,display:none">
                        <div class="col-md-3">
                            <label>Nom d'établissement</label>
                            <input class="form-control"
                                   id="txt_CESS_other_school_name"
                                   name="CESS_other_school_name"
                                   value="{{object_application.CESS_other_school_name}}">
                        </div>
                        <div class="col-md-3">
                            <label>Localité</label>
                            <input class="form-control"
                                   id="txt_CESS_other_school_city"
                                   name="CESS_other_school_city"
                                   value="{{object_application.CESS_other_school_city}}">
                        </div>
                        <div class="col-md-3">
                            <label>Code postal</label>
                            <input class="form-control"
                                   id="txt_CESS_other_school_postal_code"
                                   name="CESS_other_school_postal_code"
                                   value="{{object_application.CESS_other_school_postal_code}}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <label class="radio-inline">
                            <input type="radio"
                                   name="rdb_school_belgian_community"
                                   id="rdb_school_belgian_community_french"
                                   value="FRENCH"
                                   onclick="display('pnl_teaching_type',false)"
                                   {%if object_application.rdb_school_belgian_community = 'FRENCH' %}checked{%endif%}> Communauté française de Belgique
                        </label>
                        <label class="radio-inline">
                          <input type="radio"
                                 name="rdb_school_belgian_community"
                                 id="rdb_school_belgian_community_dutch"
                                 value="DUTCH"
                                 onclick="display('pnl_teaching_type',false)"
                                 {%if object_application.rdb_school_belgian_community = 'DUTCH' %}checked{%endif%}> Communauté néerlandophone de Belgique
                        </label>
                    </div>
                </div>
            </div>
            {%if  validation_messages and validation_messages|get_item:'school'%}<label class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'school'}}</label>{% endif %}
            <br>
        </div>
    </div>
    <div class="panel panel-default"
         id="pnl_teaching_type"
         style="{%if object_application.rdb_school_belgian_community = 'FRENCH' %}}
                    visibility:visible;display:block;
                {%else%}}
                    visibility:hidden;display:none;
                {%endif%}">
        <div class="panel-heading">Quel type d'enseignement avez-vous suivi(ou suivez-vous)? *</div>
        <div class="panel-body">
            <label>Enseignement de transition</label>
            <br>
            <label class="radio-inline">
                <input type="radio"
                       name="rdb_education_transition_type"
                       id="rdb_general_transition"
                       value="GENERAL_TRANSITION"
                       {%if object_application.rdb_education_transition_type = 'GENERAL_TRANSITION'%}checked{%endif%}
                       onclick="reset_rdb('rdb_education_technic_type');"> Enseignement de formation générale
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_education_transition_type"
                     id="rdb_technic_transition"
                     value="TECHNIC_TRANSITION"
                     {%if object_application.rdb_education_transition_type = 'TECHNIC_TRANSITION'%}checked{%endif%}
                     onclick="reset_rdb('rdb_education_technic_type');"> Technique de transition
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_education_transition_type"
                     id="rdb_artistic_transition"
                     value="ARTISTIC_TRANSITION"
                     {%if object_application.rdb_education_transition_type = 'ARTISTIC_TRANSITION'%}checked{%endif%}
                     onclick="reset_rdb('rdb_education_technic_type');"> Artistique de transition
            </label>
            <br>
            <br>
            <label>Enseignement de qualification</label>
            <br>
            <label class="radio-inline">
                <input type="radio"
                       name="rdb_education_technic_type"
                       id="rdb_technic"
                       value="TECHNIC" {%if object_application.rdb_education_technic_type = 'TECHNIC'%}checked{%endif%}
                       onclick="reset_rdb('rdb_education_transition_type');"> Technique de qualification
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_education_technic_type"
                     id="rdb_artistic"
                     value="ARTISTIC" {%if object_application.rdb_education_technic_type = 'ARTISTIC'%}checked{%endif%}
                     onclick="reset_rdb('rdb_education_transition_type');"> Artistique de qualification
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_education_technic_type"
                     id="rdb_professional"
                     value="PROFESSIONAL"
                     {%if object_application.rdb_education_technic_type = 'PROFESSIONAL'%}checked{%endif%}
                     onclick="reset_rdb('rdb_education_transition_type');"> Enseignement professionel
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_education_technic_type"
                     id="rdb_professional_maturity"
                     value="PROFESSIONAL_MATURITY"
                     {%if object_application.rdb_education_technic_type = 'PROFESSIONAL_MATURITY'%}checked{%endif%}
                     onclick="reset_rdb('rdb_education_transition_type');"> Enseignement professionel-Examen de maturity
            </label>
            <br><br>
            <div class="row">
                <div class="col-md-3">
                    <label>
                      <input type="checkbox"
                             id="chb_other_education"
                             name="other_education"
                             {%if not object_application.rdb_education_technic_type and not object_application.rdb_education_transition_type%}checked{%endif%}
                             onclick="display_or_hide('pnl_other_education',this);reset_rdb('rdb_education_transition_type');reset_rdb('rdb_education_technic_type');"> Autre enseignement
                    </label>
                </div>
                <div id="pnl_other_education"
                     style="{%if not object_application.rdb_education_technic_type and not object_application.rdb_education_transition_type%}
                                visibility:visible;display:block;
                            {%else%}
                                visibility:hidden;display:none;
                            {%endif%}">
                    <div class="col-md-9">
                        <label>A préciser</label>
                        <input class="form-control" id="txt_other_education_type"
                               name="other_education_type"
                               value="{{object_application.other_education_type|default_if_none:''}}">
                    </div>
                </div>
            </div>
        </div>
        {%if  validation_messages and validation_messages|get_item:'pnl_teaching_type'%}<font class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'pnl_teaching_type'}}</font>{% endif %}

    </div>
     <div class="panel panel-default" id="pnl_daes"
          style="{%if object_application.daes = True %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
        <div class="panel-heading">DAES</div>
        <div class="panel-body">
            Comme vous avez terminé vos études au plus tard en 1993, avez-vous obtenu un diplôme belge
            d'aptitude à accéder à 'enseignement supérieur (DAES)?
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_daes"
                     id="rdb_daes_true" value="true"
                     {%if object_application.rdb_daes = True %}checked{%endif%}
                     > Oui
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_daes"
                     id="rdb_daes_false" value="false"
                     {%if object_application.rdb_daes = False %}checked{%endif%}
                     > Non
            </label>
            {%if  validation_messages and validation_messages|get_item:'rdb_daes'%}<font class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'rdb_daes'}}</font>{% endif %}
        </div>
    </div>
    <div class="panel panel-default" id="pnl_parcours" style="{%if object_application.doubble = True %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
        <div class="panel-heading">Parcours</div>
        <div class="panel-body">
            En cours d'études, avez-vous redoublé? *
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="repeated_grade"
                     id="rdb_repeated_grade_true" value="true"
                     {%if object_application.repeated_grade = True %}checked{%endif%}> Oui
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="repeated_grade"
                     id="rdb_repeated_grade_false"
                     value="false"
                     {%if object_application.repeated_grade = False %}checked{%endif%}> Non
            </label>
            {%if  validation_messages and validation_messages|get_item:'repeated_grade'%}<font class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'repeated_grade'}}</font>{% endif %}
            <br><br>
            En cours d'études, avez-vous changé d'orientation? *
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="re_orientation"
                     id="rdb_re_orientation_true" value="true"
                     {%if object_application.re_orientation = True %}checked{%endif%}> Oui
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="re_orientation"
                     id="rdb_re_orientation_false"
                     value="false"
                     {%if object_application.re_orientation = False %}checked{%endif%}> Non
            </label>
            {%if  validation_messages and validation_messages|get_item:'re_orientation'%}<font class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'re_orientation'}}</font>{% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Résultat</div>
        <div class="panel-body">
            <label>Quel résultat avez-vous obtenu? *</label>
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="result"
                     id="rdb_result_less_65"
                     value="LESS_65"
                     {%if object_application.result < 65 %}checked{%endif%}> Moins de 65%
            </label>
            <label class="radio-inline">
               <input type="radio"
                      name="result"
                      id="rdb_result_between_65_75"
                      value="BETWEEN_65_75"
                      {%if object_application.result >= 65 and object_application.result <= 75%}checked{%endif%}> Entre 65 et 75%
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="result"
                     id="rdb_result_more_75"
                     value="MORE_75"
                     {%if object_application.result > 75 %}checked{%endif%}> Plus de 75%
            </label>
            {%if  validation_messages and validation_messages|get_item:'result'%}<font class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'result'}}</font>{% endif %}
        </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading">Veuillez joindre la copie de *</div>
        <div class="panel-body">
            Vous devez fournir une copie recto-verso. Si vous avez le recto-verso dans le même fichier,
            veuillez joindre les 2
            <br>
            <input type="button"
                   value="Diplôme d'études secondaires - recto"
                   title="Diplôme d'études secondaires - recto">
            <input type="button"
                   value="Diplôme d'études secondaires - verso"
                   title="Diplôme d'études secondaires - verso">
            {% if object_application.admission_application == True %}
                <br>
                <input type="button"
                       value="Relevé de notes"
                       title="Relevé de notes">
            {%endif%}
        </div>
    </div>
</div>