{% load dictionnary %}

<div class="panel panel-default" id="pnl_french_exam"
         style="{% if application.offer_year.grade_type.grade = 'BACHELOR' or application.offer_year.grade_type.grade = 'MASTER' or application.offer_year.grade_type.grade = 'TRAINING_CERTIFICATE' %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}}"  >
    <div class="panel-heading">Examen de maitrise de la langue française *</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <label>Avez-vous été inscrit(e) ou allez-vous être inscrit(e) à cet examen?*</label>
                <br>
                <label class="radio-inline">
                  <input type="radio"
                         name="diploma_french"
                         id="rdb_diploma_french1"
                         value="true"
                         onclick="display('pnl_french_exam_detail',true);"
                         {%if secondary_education.local_language_exam = True %}checked{%endif%}> Oui
                </label>
                <label class="radio-inline">
                  <input type="radio"
                         name="diploma_french"
                         id="rdb_diploma_french2"
                         value="false"
                         onclick="display('pnl_french_exam_detail',false);"
                         {%if secondary_education.local_language_exam = False %}checked{%endif%}> Non
                </label>
                <br>
                <br>
                {%if validation_messages and validation_messages|get_item:'diploma_french'%}
                    <font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'diploma_french'}}</font><br>
                {% endif %}
                {% if professional_exam_link %}
                    Informations complémentaires : <a target="_blank" href="http://www.uclouvain.be/204100.html">{{professional_exam_link.value}}</a>
                {%endif%}
            </div>
        </div>
        <div id="pnl_french_exam_detail"
             style="{%if secondary_education.local_language_exam = True %}visibility:visible;display:display;{%else%}visibility:hidden;display:none;{%endif%}">
            <div class="form-inline">
                <br>
                <label>A quelle session (date)? *</label>
                <input class="form-control" id="txt_french_exam_date"
                       name="french_exam_date"
                       value="{{secondary_education.local_language_exam_date | default_if_none:''|date:"j/m/Y"}}">
                <br>
                {%if validation_messages and validation_messages|get_item:'french_exam_date'%}
                    <br><br>
                    <font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'french_exam_date'}}</font><br>
                {% endif %}
                <br>
                <label>Auprès de quel établissement (nom)? *</label>
                <input class="form-control"
                       id="txt_french_exam_enterprise"
                       name="french_exam_enterprise"
                       value="{{secondary_education.local_language_exam_institution}}">
                <br>
                {%if validation_messages and validation_messages|get_item:'french_exam_enterprise'%}
                    <br><br>
                    <font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'french_exam_enterprise'}}</font>
                <br>
                {% endif %}
            </div>
            <br>
            <br>
            <label>Resultat*</label>
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="french_exam_result"
                     id="rdb_french_exam_session_succeed" value="SUCCEED">
                Réussite
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="french_exam_result"
                     id="rdb_french_exam_session_failed" value="FAILED">
                Echec
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="french_exam_result"
                     id="rdb_french_exam_enrollment_session_in_progress"
                     value="ENROLLMENT_IN_PROGRESS">
                En cours d'inscription à la session mentionnée
            </label>
            <br>
            {%if validation_messages and validation_messages|get_item:'french_exam_result'%}
                <br><br><font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'french_exam_result'}}</font><br>
            {% endif %}
            <br>
            <label>Veuillez joindre l'attestation de réussite ou la preuve d'inscription</label>
            &nbsp;&nbsp;<input type="button" value="Cliquez-ici pour joindre"/>
        </div>
    </div>
</div>
