{% load dictionnary %}
{% load i18n %}
<div id="pnl_local_detail">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'institution' %}</div>
        <div class="panel-body">
            <label>{% trans 'which_community'%}? *</label>
            <br>
            <label>
                <input type="radio"
                       name="local_community"
                       id="rdb_local_community_french"
                       value="FRENCH"
                       onclick="show_hide_pnl_dipl_acc_high_educ();display('pnl_teaching_type');">
                       {%trans 'french_belgian_community'%}
            </label>
            <br>
            <label>
              <input type="radio"
                     name="local_community"
                     id="rdb_local_community_dutch"
                     value="DUTCH" onclick="show_hide_pnl_dipl_acc_high_educ();display('pnl_teaching_type');">
                     {%trans 'dutch_belgian_community'%}
            </label>
            <br>
            <label>
              <input type="radio"
                     name="local_community"
                     id="rdb_local_community_german"
                     value="GERMAN" onclick="show_hide_pnl_dipl_acc_high_educ();display('pnl_teaching_type');">
                     {%trans 'german_belgian_community'%}
            </label>
            {%if validation_messages and validation_messages|get_item:'local_community'%}
                <br><span class="error" style="margin-left:5px;" id="national_diploma_local_community_error">{{ validation_messages|get_item:'local_community'}}</span>
            {% endif %}
            <br>
            <br>
            <label>{% trans 'institution_cess_question'%} *</label>
            <br>
            {% trans 'institution_cess_help'%}
            <br>
            <br>
           <div style="margin-left:20px;">
            <div class="row" >
                <div class="col-md-6">
                    <label>{% trans 'by_city'%}</label>
                    <select class="form-control"
                             id="slt_cities"
                             name="city">
                    </select>
                </div>
                <div class="col-md-4">
                    <label>{% trans 'by_postal_code' %}</label>
                    <select class="form-control"
                            id="slt_postal_codes"
                            name="postal_code">
                    </select>
                </div>
            </div>
            <br>
            <div class="row" >

                <div class="col-md-12">
                    <label>{% trans 'institution' %}&nbsp;&nbsp;</label>
                     <select class="form-control"
                             id="slt_schools"
                             name="school">
                    </select>
                     <select class="form-control"
                             id="slt_schools_community"
                             style="visibility:hidden;display:none;">
                    </select>
                </div>
            </div>
            <br>
            <div >

            <input type="checkbox"
                   id="chb_other_school"
                   name="other_school"
                   onclick="disabled_field('txt_CESS_other_school_name',this);disabled_field('txt_CESS_other_school_city',this);disabled_field('txt_CESS_other_school_postal_code',this);
                            reset_input('txt_CESS_other_school_name');reset_input('txt_CESS_other_school_city');reset_input('txt_CESS_other_school_postal_code');">
                <label>{% trans 'institution_not_found_question'%}</label>
            </div>
            <br>

            <div id="pnl_other_school" >
                <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <label>{% trans 'name' %}</label>
                    <input type="text"
                           class="form-control"
                           id="txt_CESS_other_school_name"
                           name="CESS_other_school_name"
                           maxlength="100">
                </div>
                <div class="col-md-4">
                    <label>{% trans 'city'%}</label>
                    <input type="text"
                           class="form-control"
                           id="txt_CESS_other_school_city"
                           name="CESS_other_school_city"
                           maxlength="255">
                </div>
                <div class="col-md-3">
                    <label>{% trans 'postal_code'%}</label>
                    <input class="form-control"
                           id="txt_CESS_other_school_postal_code"
                           name="CESS_other_school_postal_code"
                           style="max-width:100px;"
                           maxlength="20">
                </div>
                </div>
                <br>
            </div>
            {%if validation_messages and validation_messages|get_item:'school'%}
                <span class="error" style="margin-left:5px;"
                      id="national_diploma_school_error">{{ validation_messages|get_item:'school'}}</span>
            {% endif %}
            <br>
        </div>
            </div>
    </div>
    <div class="panel panel-default"
         id="pnl_teaching_type">
        <div class="panel-heading">{% trans 'which_type_education' %} *</div>
        <div class="panel-body">
            <label>{%trans 'educational_transition'%}</label>
            <br>
            {%for edtype_transition in education_type_transition%}
                <label>
                <input type="radio"
                   name="rdb_education_transition_type"
                   id="rdb_general_transition_{{edtype_transition.id}}"
                   value="{{edtype_transition.id}}"
                   onclick="reset_rdb('rdb_education_technic_type');reset_chb('other_education');disabled_reset_field_txt('txt_other_education_type','True');">&nbsp;{{edtype_transition.name}}
                </label>
                <br>
            {%endfor%}
            <br>
            <label>{%trans 'educational_qualification'%}</label>
            <br>
            {%for edtype_qualification in education_type_qualification%}
                <label>
                <input type="radio"
                   name="rdb_education_technic_type"
                   id="rdb_technic_{{edtype_qualification.id}}"
                   value="{{edtype_qualification.id}}"
                   onclick="reset_rdb('rdb_education_transition_type');reset_chb('other_education');disabled_reset_field_txt('txt_other_education_type','False');">&nbsp;{{edtype_qualification.name}}
                </label>
                <br>
            {%endfor%}

            <br>
            <div class="row">
                <div class="col-md-4">
                    <input type="checkbox"
                           id="chb_other_education"
                           name="other_education">
                    <label>{% trans 'other_education_type' %}</label>

                </div>
                <div >
                    <div class="col-md-8">
                        <label>{%trans 'to_specify'%}</label>
                        <input class="form-control"
                               id="txt_other_education_type"
                               name="other_education_type"
                               maxlength="100" >
                    </div>
                </div>
            </div>
        </div>
        {%if validation_messages and validation_messages|get_item:'pnl_teaching_type'%}
            <span class="error" style="margin-left:5px;" id="national_diploma_pnl_teaching_type_error">{{ validation_messages|get_item:'pnl_teaching_type'}}</span>
        {% endif %}

    </div>
     <div class="panel panel-default" id="pnl_dipl_acc_high_educ">
        <div class="panel-heading">{% trans 'daes' %}</div>
        <div class="panel-body">{% trans 'daes_question'%}

            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="dipl_acc_high_educ"
                     id="rdb_dipl_acc_high_educ_true" value="true"
                     > {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="dipl_acc_high_educ"
                     id="rdb_dipl_acc_high_educ_false" value="false"
                     > {% trans 'no' %}
            </label>
            {%if validation_messages and validation_messages|get_item:'dipl_acc_high_educ'%}
                <br> <br><span class="error" style="margin-left:5px;" id="national_diploma_dipl_acc_high_educ_error">{{ validation_messages|get_item:'dipl_acc_high_educ'}}</span> <br>
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default" id="pnl_parcours">
        <div class="panel-heading">{% trans 'path' %}</div>
        <div class="panel-body">
            {% trans 'path_repetition'%} *
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="path_repetition"
                     id="rdb_repeated_grade_true" value="true"> {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="path_repetition"
                     id="rdb_repeated_grade_false"
                     value="false"> {% trans 'no' %}
            </label>
            {%if validation_messages and validation_messages|get_item:'path_repetition'%}
                <br><br><span class="error" style="margin-left:5px;" id="national_diploma_path_repetition_error">{{ validation_messages|get_item:'path_repetition'}}</span><br>
            {% endif %}
            <br><br>
            {% trans 'question_path_reorientation'%} *
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="path_reorientation"
                     id="rdb_re_orientation_true" value="true"> {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="path_reorientation"
                     id="rdb_re_orientation_false"
                     value="false"> {% trans 'no' %}
            </label>
            {%if validation_messages and validation_messages|get_item:'path_reorientation'%}
                <br><br>
                <span class="error" style="margin-left:5px;" id="national_diploma_path_reorientation_error">{{ validation_messages|get_item:'path_reorientation'}}</span>
                <br>
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'result'%}</div>
        <div class="panel-body">
            <label>{% trans 'which_result'%} *</label>
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="result"
                     id="rdb_result_less_65"
                     value="LOW">&nbsp;{% trans 'low_result'%}
            </label>
            <label class="radio-inline">
               <input type="radio"
                      name="result"
                      id="rdb_result_between_65_75"
                      value="MIDDLE">&nbsp;{% trans 'middle_result'%}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="result"
                     id="rdb_result_more_75"
                     value="HIGH">&nbsp;{% trans 'high_result'%}
            </label>
            <label class="radio-inline">
                <input type="radio"
                       name="result"
                       id="rdb_no_result"
                       value="NO_RESULT">  {% trans 'no_result_yet' %}
            </label>
            {%if validation_messages and validation_messages|get_item:'result'%}
                <br><br><span class="error" style="margin-left:5px;" id="national_diploma_result_error">{{ validation_messages|get_item:'result'}}</span><br>
            {% endif %}
        </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading">{% trans 'copy_add' %}*</div>
        <div class="panel-body">
            {% trans 'recto_verso_copy'%}
            <br>
            <div class="row">
                <div class="col-md-6">
                    {%if national_diploma_recto%}
                        <button type="button" class="btn btn-success"
                                title="{%trans 'modify'%} : {% trans 'high_school_diploma'%} - {% trans 'recto'%}"
                                id="bt_load_doc_NATIONAL_DIPLOMA_RECTO"
                                data-toggle="modal" data-target="#pnl_upload_documents">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"
                                      id="spn_bt_load_doc_NATIONAL_DIPLOMA_RECTO"></span> {% trans 'high_school_diploma'%} - {% trans 'recto'%}
                        </button>
                    {%else%}
                        <button type="button"
                                class="btn btn-default"
                                title="{%trans 'add'%} : {% trans 'high_school_diploma'%} - {% trans 'recto'%}"
                                id="bt_load_doc_NATIONAL_DIPLOMA_RECTO"
                                data-toggle="modal" data-target="#pnl_upload_documents">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"
                                      id="spn_bt_load_doc_NATIONAL_DIPLOMA_RECTO"></span> {% trans 'high_school_diploma'%} - {% trans 'recto'%}
                        </button>
                    {%endif%}
                    {%if validation_messages and validation_messages|get_item:'national_diploma_doc'%}
                    <br><br><span class="error" style="margin-left:5px;" id="national_diploma_national_diploma_doc_error">{{ validation_messages|get_item:'national_diploma_doc'}}</span><br>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {%if national_diploma_verso %}
                        <button type="button" class="btn btn-success"
                                title="{% trans 'modify'%} : {% trans 'high_school_diploma'%} - {% trans 'verso'%}"
                                id="bt_load_doc_NATIONAL_DIPLOMA_VERSO"
                                data-toggle="modal" data-target="#pnl_upload_documents">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"
                                      id="spn_bt_load_doc_NATIONAL_DIPLOMA_VERSO"></span> {% trans 'high_school_diploma'%} - {% trans 'verso'%}
                        </button>
                    {%else%}
                        <button type="button" class="btn btn-default"
                                title="{% trans 'add'%} : {% trans 'high_school_diploma'%} - {% trans 'verso'%}"
                                id="bt_load_doc_NATIONAL_DIPLOMA_VERSO"
                                data-toggle="modal" data-target="#pnl_upload_documents">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"
                                      id="spn_bt_load_doc_NATIONAL_DIPLOMA_VERSO"></span> {% trans 'high_school_diploma'%} - {% trans 'verso'%}
                        </button>
                    {%endif%}
                 </div>
            </div>

            {% if application.application_type == 'ADMISSION' %}
                <br>
                <div class="row">
                    <div class="col-md-6">
                        {%if high_school_scores_transcript_recto%}
                             <button type="button"
                                     class="btn btn-success"
                                     title="{%trans 'modify'%} {% trans 'high_school_diploma_transcript'%} - {% trans 'recto'%}"
                                     id="bt_load_doc_HIGH_SCHOOL_SCORES_TRANSCRIPT_RECTO"
                                     data-toggle="modal" data-target="#pnl_upload_documents">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"
                                      id="spn_bt_load_doc_HIGH_SCHOOL_SCORES_TRANSCRIPT_RECTO"></span> {% trans 'high_school_diploma_transcript'%} - {% trans 'recto'%}
                            </button>
                        {%else%}
                             <button type="button"
                                     class="btn btn-default"
                                     title="{%trans 'add'%} {% trans 'high_school_diploma_transcript'%} - {% trans 'recto'%}"
                                     id="bt_load_doc_HIGH_SCHOOL_SCORES_TRANSCRIPT_RECTO"
                                     data-toggle="modal" data-target="#pnl_upload_documents">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"
                                      id="spn_bt_load_doc_HIGH_SCHOOL_SCORES_TRANSCRIPT_RECTO"></span> {% trans 'high_school_diploma_transcript'%} - {% trans 'recto'%}
                            </button>
                        {%endif%}
                         {%if validation_messages and validation_messages|get_item:'high_school_diploma_doc'%}
                            <br><br><span class="error" style="margin-left:5px;" id="high_school_diploma_doc_error">{{ validation_messages|get_item:'high_school_diploma_doc'}}</span><br>
                        {% endif %}
                    </div>
                     <div class="col-md-6">
                         {%if high_school_scores_transcript_verso%}
                             <button type="button" class="btn btn-success"
                                     title="{% trans 'modify'%} {% trans 'high_school_diploma_transcript'%} - {% trans 'verso'%}"
                                     id="bt_load_doc_HIGH_SCHOOL_SCORES_TRANSCRIPT_VERSO"
                                     data-toggle="modal" data-target="#pnl_upload_documents">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"
                                      id="spn_bt_load_doc_HIGH_SCHOOL_SCORES_TRANSCRIPT_VERSO"></span> {% trans 'high_school_diploma_transcript'%} - {% trans 'verso'%}
                            </button>
                         {%else%}
                             <button type="button" class="btn btn-default"
                                     title="{% trans 'add'%} {% trans 'high_school_diploma_transcript'%} - {% trans 'verso'%}"
                                     id="bt_load_doc_HIGH_SCHOOL_SCORES_TRANSCRIPT_VERSO"
                                     data-toggle="modal" data-target="#pnl_upload_documents">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"
                                      id="spn_bt_load_doc_HIGH_SCHOOL_SCORES_TRANSCRIPT_VERSO"></span> {% trans 'high_school_diploma_transcript'%} - {% trans 'verso'%}
                            </button>
                         {%endif%}
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
</div>
