{% load dictionnary %}
{% load i18n %}

<div id="pnl_belgian_detail"
     style="{%if secondary_education.national = True %}
                visibility:visible;display:block;
            {%else%}
                visibility:hidden;display:none;
            {%endif%}">
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'institution' %}</div>
        <div class="panel-body">
            <label>{% trans 'which_community'%}? *</label>
            <br>
            <label class="radio-inline">
                <input type="radio"
                       name="rdb_belgian_community"
                       id="rdb_belgian_community_french"
                       {%if secondary_education.national_community = 'FRENCH' %}checked{%endif%}
                       value="FRENCH" onclick="show_hide_pnl_daes();"> {%trans 'french_belgian_community'%}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_belgian_community"
                     id="rdb_belgian_community_dutch"
                     {%if secondary_education.national_community = 'DUTCH' %}checked{%endif%}
                     value="DUTCH" onclick="show_hide_pnl_daes();"> {%trans 'dutch_belgian_community'%}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="rdb_belgian_community"
                     id="rdb_belgian_community_german"
                     {%if secondary_education.national_community = 'GERMAN' %}checked{%endif%}
                     value="GERMAN" onclick="show_hide_pnl_daes();"> {%trans 'german_belgian_community'%}
            </label>
            {%if validation_messages and validation_messages|get_item:'rdb_belgian_community'%}
                <br><font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'rdb_belgian_community'}}</font>
            {% endif %}
            <br>
            <br>
            <label>{% trans 'institution_cess_question'%} *</label>
            <br>
            {% trans 'institution_cess_help'%}
            <br>
            <br>
            <div class="form-inline">
                <div class="form-group">
                    <label>{% trans 'by_city'%}&nbsp;&nbsp;</label>
                    <select class="form-control"
                             id="slt_cities"
                             name="city"
                             onchange="refresh_slt_schools(this)">
                         <option value="-">-</option>
                        {% for c in cities %}
                            <option value="{{ c.id }}" {%if secondary_education.national_institution.city = c %}checked{%endif%}>{{ c }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>&nbsp;&nbsp;&nbsp;{% trans 'by_postal_code' %}&nbsp;&nbsp;</label>
                    <select class="form-control"
                             id="slt_postal_codes"
                             name="postal_code"
                             onchange="refresh_slt_schools(this)">
                         <option value="-">-</option>
                        {% for p in postal_codes %}
                            <option value="{{ p }}"  {%if secondary_education.national_institution.postal_code = p %}checked{%endif%}>{{ p }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>&nbsp;&nbsp;&nbsp;{% trans 'institution' %}&nbsp;&nbsp;</label>
                     <select class="form-control"
                             id="slt_schools"
                             name="school">
                         <option value="-">-</option>
                        {% for education_institution in education_institutions %}
                            <option title="{{education_institution.postal_code }} - {{education_institution.city}}"
                                    value="{{ education_institution.id }}"
                                    {%if secondary_education.national_institution.id = education_institution.id %}selected{%endif%}>
                                {{ education_institution.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div>
                {% trans 'institution_not_found'%}
                <br><br>
                <div class="row">
                    <div class="col-md-3">
                        <label>
                          <input type="checkbox"
                                 id="chb_other_school"
                                 name="other_school"
                                 onclick="disabled_field('txt_CESS_other_school_name',this);disabled_field('txt_CESS_other_school_city',this);disabled_field('txt_CESS_other_school_postal_code',this);
                                          reset_input('txt_CESS_other_school_name');reset_input('txt_CESS_other_school_city');reset_input('txt_CESS_other_school_postal_code');"
                                 {% if secondary_education.national_institution.adhoc = True %}checked{%endif%}> {% trans 'other_institution' %}
                        </label>
                    </div>
                    <div id="pnl_other_school">
                        <div class="col-md-3">
                            <label>{% trans 'institution_name'%}</label>
                            <input class="form-control"
                                   id="txt_CESS_other_school_name"
                                   name="CESS_other_school_name"
                                   value="{% if secondary_education.national_institution.adhoc = True %}{{secondary_education.national_institution.name}}{%endif%}"
                                   {% if secondary_education.national_institution.adhoc = False %}disabled{%endif%}>
                        </div>
                        <div class="col-md-3">
                            <label>{% trans 'city'%}</label>
                            <input class="form-control"
                                   id="txt_CESS_other_school_city"
                                   name="CESS_other_school_city"
                                   value="{% if secondary_education.national_institution.adhoc = True %}{{secondary_education.national_institution.city}}{%endif%}"
                                   {% if secondary_education.national_institution.adhoc = False %}disabled{%endif%}>
                        </div>
                        <div class="col-md-3">
                            <label>{% trans 'postal_code'%}</label>
                            <input class="form-control"
                                   id="txt_CESS_other_school_postal_code"
                                   name="CESS_other_school_postal_code"
                                   value="{% if secondary_education.national_institution.adhoc = True %}{{secondary_education.national_institution.postal_code}}{%endif%}"
                                  {% if secondary_education.national_institution.adhoc = False %}disabled{%endif%}>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label class="radio-inline">
                            <input type="radio"
                                   name="school_belgian_community"
                                   id="rdb_school_belgian_community_french"
                                   {%if secondary_education.national_institution.national_community = 'FRENCH' %}checked{%endif%}
                                   value="FRENCH"
                                   onclick="display('pnl_teaching_type',true)"> {%trans 'french_belgian_community'%}
                        </label>
                        <label class="radio-inline">
                          <input type="radio"
                                 name="school_belgian_community"
                                 id="rdb_school_belgian_community_dutch"
                                 {%if secondary_education.national_institution.national_community = 'DUTCH' %}checked{%endif%}
                                 value="DUTCH"
                                 onclick="display('pnl_teaching_type',false)"> {%trans 'dutch_belgian_community'%}
                        </label>
                        <label class="radio-inline">
                          <input type="radio"
                                 name="school_belgian_community"
                                 id="rdb_school__belgian_community"
                                 {%if secondary_education.national_institution.national_community = 'GERMAN' %}checked{%endif%}
                                 value="GERMAN"
                                 onclick="display('pnl_teaching_type',false)"> {%trans 'german_belgian_community'%}
                        </label>
                    </div>
                </div>
            </div>
            {%if validation_messages and validation_messages|get_item:'school'%}
                <label class="error" style="margin-left:5px;">{{ validation_messages|get_item:'school'}}</label>
            {% endif %}
            <br>
        </div>
    </div>
    <div class="panel panel-default"
         id="pnl_teaching_type"
         style="{%if secondary_education.national_institution.national_community = 'FRENCH' %}}
                    visibility:visible;display:block;
                {%else%}
                    visibility:hidden;display:none;
                {%endif%}">
        <div class="panel-heading">{% trans 'which_type_education' %} *</div>
        <div class="panel-body">
            <label>{%trans 'educational_transition'%}</label>
            <br>
            {%for edtype_transition in education_type_transition%}
                <label class="radio-inline">
                <input type="radio"
                   name="rdb_education_transition_type"
                   id="rdb_general_transition{{edtype_transition.id}}"
                   value="{{edtype_transition.id}}"
                   {%if secondary_education.education_type.id = edtype_transition.id %}checked{%endif%}
                   onclick="reset_rdb('rdb_education_technic_type');reset_chb('other_education');disabled_reset_field_txt('txt_other_education_type','True');"> {{edtype_transition.name}}
                </label>
            {%endfor%}
            <br>
            <br>
            <label>{%trans 'educational_qualification'%}</label>
            <br>
            {%for edtype_qualification in education_type_qualification%}
                <label class="radio-inline">
                <input type="radio"
                   name="rdb_education_technic_type"
                   id="rdb_technic_{{edtype_qualification.id}}"
                   value="{{edtype_qualification.id}}"
                   {%if secondary_education.education_type.id = edtype_qualification.id %}checked{%endif%}
                   onclick="reset_rdb('rdb_education_transition_type');reset_chb('other_education');disabled_reset_field_txt('txt_other_education_type','False');"> {{edtype_qualification.name}}
                </label>
            {%endfor%}

            <br><br>
            <div class="row">
                <div class="col-md-3">
                    <label>
                      <input type="checkbox"
                             id="chb_other_education"
                             name="other_education"
                             {%if secondary_education.education_type.adhoc = True %}checked{%endif%}
                             onclick="disabled_field('txt_other_education_type',this);reset_rdb('rdb_education_transition_type');reset_rdb('rdb_education_technic_type');"> {% trans 'other_education' %}
                    </label>
                </div>
                <div >
                    <div class="col-md-9">
                        <label>{%trans 'to_specify'%}</label>
                        <input class="form-control"
                               id="txt_other_education_type"
                               name="other_education_type"
                               value="{%if secondary_education.education_type.adhoc = True%}{{secondary_education.education_type.name|default_if_none:''}}{%endif%}"
                               {%if secondary_education.education_type.adhoc = False %}disabled{%endif%}>
                    </div>
                </div>
            </div>
        </div>
        {%if validation_messages and validation_messages|get_item:'pnl_teaching_type'%}
            <font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'pnl_teaching_type'}}</font>
        {% endif %}

    </div>
     <div class="panel panel-default" id="pnl_daes"
          style="{%if secondary_education.daes_possible = True %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
        <div class="panel-heading">{% trans 'daes' %}</div>
        <div class="panel-body">{% trans 'daes_question'%}

            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="daes"
                     id="rdb_daes_true" value="true"
                     {%if secondary_education.daes = True %}checked{%endif%}
                     > {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="daes"
                     id="rdb_daes_false" value="false"
                     {%if secondary_education.daes = False %}checked{%endif%}
                     > {% trans 'no' %}
            </label>
            {%if validation_messages and validation_messages|get_item:'daes'%}
                <br> <br><font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'daes'}}</font> <br>
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default" id="pnl_parcours"
         style="{%if secondary_education.path = True %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
        <div class="panel-heading">{% trans 'path' %}</div>
        <div class="panel-body">
            {% trans 'path_repetition'%} *
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="path_repetition"
                     id="rdb_repeated_grade_true" value="true"
                     {%if secondary_education.path_repetition = True %}checked{%endif%}> {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="path_repetition"
                     id="rdb_repeated_grade_false"
                     value="false"
                     {%if secondary_education.path_repetition = False %}checked{%endif%}> {% trans 'no' %}
            </label>
            {%if validation_messages and validation_messages|get_item:'path_repetition'%}
                <br><br><font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'path_repetition'}}</font><br>
            {% endif %}
            <br><br>
            {% trans 'question_path_reorientation'%} *
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="path_reorientation"
                     id="rdb_re_orientation_true" value="true"
                     {%if secondary_education.path_reorientation = True %}checked{%endif%}> {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="path_reorientation"
                     id="rdb_re_orientation_false"
                     value="false"
                     {%if secondary_education.path_reorientation = False %}checked{%endif%}> {% trans 'no' %}
            </label>
            {%if validation_messages and validation_messages|get_item:'path_reorientation'%}
                <br><br>
                <font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'path_reorientation'}}</font>
                <br>
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'result'%}</div>
        <div class="panel-body">
            <label>{% trans 'which_result'%} *</label>
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="result"
                     id="rdb_result_less_65"
                     value="LOW"
                     {%if secondary_education.result = 'LOW' %}checked{%endif%}> {% trans 'low_result'%}
            </label>
            <label class="radio-inline">
               <input type="radio"
                      name="result"
                      id="rdb_result_between_65_75"
                      value="MIDDLE"
                      {%if secondary_education.result = 'MIDDLE' %}checked{%endif%}> {% trans 'middle_result'%}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="result"
                     id="rdb_result_more_75"
                     value="HIGH"
                     {%if secondary_education.result = 'HIGH' %}checked{%endif%}> {% trans 'high_result'%}
            </label>
            {%if validation_messages and validation_messages|get_item:'result'%}
                <br><br><font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'result'}}</font><br>
            {% endif %}
        </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading">{% trans 'copy_add' %}*</div>
        <div class="panel-body">
            {% trans 'recto_verso_copy'%}
            <br>
            <button type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#pnl_upload_file_modal"
                    title="{% trans 'high_school_diploma'%} - {% trans 'recto'%}" id="bt_upload_file_sec_diploma_recto">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'high_school_diploma'%} - {% trans 'recto'%}
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#pnl_upload_file_modal"
                    title="{% trans 'high_school_diploma'%} - {% trans 'verso'%}" id="bt_upload_file_sec_diploma_verso">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'high_school_diploma'%} - {% trans 'verso'%}
            </button>
            {% if object_application.application_type == True %}
                <br>
                <input type="button"
                       value="Relevé de notes{% trans 'transcript'%}"
                       title="{% trans 'transcript'%}">
            {%endif%}
        </div>
    </div>
</div>
