{% load dictionnary %}

 <div class="panel panel-default" id="pnl_professinal_experience" style="">
        <div class="panel-heading">Expériences professionnelles</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <label>Avez-vous été inscrit(e) ou allez-vous être inscrit(e) à un examen de la valorisation des acquis et expériences professionnelles (VAE)?</label>
                    <br>
                    <label class="radio-inline">
                      <input type="radio"
                             name="professional_exam"
                             id="rdb_professional_experience_true"
                             value="true"
                             onclick="display('pnl_professional_experience_detail',true);"
                             {%if secondary_education.professional_exam = True %}checked{%endif%}> Oui
                    </label>
                    <label class="radio-inline">
                      <input type="radio"
                             name="professional_exam"
                             id="rdb_professional_experience_false"
                             value="false"
                             onclick="display('pnl_professional_experience_detail',false);"
                             {%if secondary_education.professional_exam = False %}checked{%endif%}> Non
                    </label>
                    {%if validation_messages and validation_messages|get_item:'professional_experience'%}
                        <br>
                        <font class="error" style="margin-left:5px;">{{ validation_messages|get_item:'professional_experience'}}</font><br>
                    {% endif %}
                </div>
            </div>
            <br>
            {% if local_language_exam_link %}
                Information sur VAE : <a href="https://www.uclouvain.be/vae.html">{{local_language_exam_link.value}}</a>
            {%endif%}
        <div id="pnl_professional_experience_detail"
             style="{% if secondary_education.professional_exam = True %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
            <div class="form-inline">
                <br>
                <label>A quelle session (date)? *</label>
                <input class="form-control"
                       id="txt_professional_exam_date"
                       name="professional_exam_date"
                       value="{{secondary_education.professional_exam_date | default_if_none:''|date:"j/m/Y"}}">
                 {%if validation_messages and validation_messages|get_item:'professional_exam_date'%}
                    <br><br>
                    <font class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'professional_exam_date'}}</font><br>
                {% endif %}
                <br>
                <br>
                <label>Auprès de quel établissement (nom)? *</label>
                <input class="form-control"
                       id="txt_professional_exam_institution"
                       name="professional_exam_institution"
                       value="{{secondary_education.professional_exam_institution | default_if_none:''}}">
                <br>
                {%if validation_messages and validation_messages|get_item:'professional_exam_institution'%}
                    <br><br>
                    <font class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'professional_exam_institution'}}</font><br>
                {% endif %}
            </div>
            <br>
            <br>
            <label>Quel résultat avez-vous obtenu? *</label>
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="professional_exam_result"
                     id="rdb_professional_exam_result_result_low"
                     value="LOW"
                     {%if secondary_education.professional_exam_result = 'LOW' %}checked{%endif%}> Moins de 65%
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="professional_exam_result"
                     id="rdb_professional_exam_result_middle"
                     value="MIDDLE"
                     {%if secondary_education.professional_exam_result = 'MIDDLE'%}checked{%endif%}> Entre 65 et 75%
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="professional_exam_result"
                     id="rdb_professional_exam_result_high" value="HIGH"
                     {%if secondary_education.professional_exam_result = 'HIGH' %}checked{%endif%}> Plus de 75%
            </label>
            <br>
            {%if validation_messages and validation_messages|get_item:'professional_exam_result'%}
                <font class="alert alert-danger" role="alert" style="margin-left:5px;">{{ validation_messages|get_item:'professional_exam_result'}}</font>
            {% endif %}
            <br>
            <button type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#pnl_upload_file_modal"
                    title="Veuillez joindre une copie de votre certificat ou une preuve d'inscription à l'examen" id="bt_upload_file_certificat">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Veuillez joindre une copie de votre certificat ou une preuve d'inscription à l'examen
            </button>
        </div>

    </div>
</div>