body {
    padding-top: 120px;
    font-family: 'Armata', sans-serif;
}

.navbar-brand {
    margin: 5px 0 5px;
    padding: 0;
    height: 50px;
}
.navbar-brand>img {
    padding: 0;
    height: 100%;
    width: auto;
}

.caption {
    font-size: small;
    font-style: italic;
}

.description {
    color:grey;
    font-style: italic;
    font-weight: normal;
}

.error {
    color:red;
}

.navbar {
    min-height:50px !important
}

.navbar-nav > li > a {
    padding-top:20px !important;
    padding-bottom:20px !important;
}

.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.validated {
    color: green;
}

.not-validated {
    color: orange;
}

.dashboard-grid{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.dashboard-grid .grid-item {
    flex: 1 0 360px;
    padding: 10px 20px;
    flex-grow: 0;
}


.dashboard-grid .grid-item i {
    font-size: 400%;
    color: #6699FF;
    padding-bottom: 10px;
}

span.dashboard-vpn-warning{
    color: #f0ad4e;
    font-weight: bold;
}

span.dashboard-vpn-warning a{
    color: #f0ad4e;
    font-weight: bold;
    text-decoration: underline;
}

span.dashboard-vpn-warning a:hover{
    text-decoration: none;
}

.tooltip-wrapper {
  display: inline-block;
}
.tooltip-wrapper [disabled] {
  pointer-events: none;
}

tbody tr.class_year {
    background-color: #ecfcfc !important;
}