body {
    padding-top: 120px;
    font-family: 'Armata', sans-serif;
}

.caption {
    font-size: small;
    font-style: italic;
}

.description {
    color:grey;
    font-style: italic;
    font-weight: normal;
}

.error {
    color:red;
}

.navbar {
    min-height:85px !important
}

.navbar-nav > li > a {
    padding-top:45px !important;
    padding-bottom:5px !important;
}

.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.validated {
    color: green;
}

.not-validated {
    color: orange;
}

.dashboard-grid .grid-item {
    width : 340px;
    margin-bottom: 10px;
}
.dashboard-grid .grid-item i {
    font-size: 400%;
    color: #6699FF;
    width: 65%;
    text-align: center;
    padding-bottom: 10px;
}
.dashboard-grid .grid-item .description {
    width: 80%;
    display: inline-block;
}