.sticky-header{
    position: sticky;
    top: 50px;
    background-color: white;
    box-shadow: inset 0 -2px 0 #000000;
}

.intitule-cours{
    width: 100%;
}

.intitule-cours span{
    width: inherit;
    display: inline-block;
}

/* reposition autocomplete selected content */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 15px !important;
    padding-left: 0 !important;
}
.select2-container--default .select2-selection--multiple {
    padding-top: 0 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 5px !important;
}

.center {
    margin: auto;
    text-align: center;
}

/* Tableau recapitulatif proposition de programme annuel */
.ligne-contexte {
    background-color: #80808029;
}

.ligne-total-credits > th[headers="colonne-credits"] {
    background-color: #80808029;
}