@media print {
    @page {
        size: A4;
    }

    nav {
        display: none;
    }

    div.localred {
        display: none;
    }

    div.devorange {
        display: none;
    }

    div.qagreen {
        display: none;
    }

    ol {
        display: none;
    }

    .alert {
        display: none;
    }

    .page-header {
        display: none;
    }

    #template-messages-container {
        display: none;
    }

    .hide_print {
        display: none !important;
    }

    body {
        padding: 0 !important;
        margin: 0 !important;
        visibility: hidden;
    }

    table {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        font-size: x-small;
    }

    label {
        font-size: large;
    }

    .print {
        visibility: visible;
    }

    div {
        break-inside: avoid;
    }

    .ligne-contexte {
        font-size: larger;
    }

    .progress-bar {
        position: relative;
        border-bottom: 2rem solid #337ab7;
    }
    .progress-bar-success {
        border-bottom-color: green;
    }
    .progress-bar-restant {
        border-bottom-color: gray;
    }

    .credits-de-progression-potentielle {
        border: 4px solid red !important;
    }
    .jalons {
        border: 0.5px solid black !important;
    }

    .badge {
        min-width: 50px !important;
    }

    /* badges progression */
    .badge-progression-cycle-valise {
        background-color: #249924 !important;
        color: white !important;
    }

    .badge-progression-cycle-inscription {
        background-color: #337ab7 !important;
        color: white !important;
    }

    .badge-progression-cycle-limite {
        background-color: #db0000 !important;
        color: white !important;
    }

    .badge-credits-deja-acquis {
        background-color: #e1e1e1 !important;
        color: black !important;
        font-weight: normal !important;
    }

    /* badge valise */
    .square-valise:before,
    .valise:before{
        color: #5cb85c !important;
    }

    .credits-valise {
        color: white !important;
    }
}
