{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UCL - Studies</title>
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="{% static "css/toolkit.min.css" %}" rel="stylesheet">
    <link href="{% static "css/application.css" %}" rel="stylesheet">
  </head>
  <body class="with-top-navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://uclouvain.be">
            <img src="{% static "images/logo-ucl.png" %}" style="margin-top: -5px;" alt="brand">
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
              <li >
                <a class="app-notifications" href="notifications/index.html">
                  <span class="icon icon-bell"></span>
                </a>
              </li>
              <li>
                <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
                  <img class="img-circle" src="{% static "images/user.jpg" %}">
                </button>
              </li>
            </ul>

            <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
              <li><a href="index.html">Home</a></li>
              <li><a href="notifications/index.html">Notifications</a></li>
              <li><a href="login/index.html">Logout</a></li>
            </ul>

            <ul class="nav navbar-nav hidden">
              <li><a href="login/index.html">Logout</a></li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container p-t-md">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default panel-profile m-b-md">
            <div class="panel-heading" style="background-image: url({% static "images/auditorium.jpg" %});"></div>
            <div class="panel-body text-center">
              <a href="profile/index.html"><img class="panel-profile-img" src="{% static "images/user.jpg" %}"></a>
              <h5 class="panel-title">
                <a class="text-inherit" href="profile/index.html">Hildeberto Mendonça</a>
              </h5>

              <p class="m-b-md">15901400</p>
            </div>
          </div>

          <div class="list-group m-b-md">
            <a href="/" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Formations
            </a>
          </div>

          <div class="list-group m-b-md">
            <a href="/reinscription" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Reinscription à l'UCL
            </a>
            <a href="/courses" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Cours
            </a>
            <a href="/exams" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Examens
            </a>
            <a href="/certifications" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Attestations
            </a>
            <a href="/requests" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Demandes
            </a>
          </div>

          <div class="list-group m-b-md">
            <a href="/timetable" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Horaires
            </a>
            <a href="/calendar" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Calendrier académique
            </a>
            <a href="/programme" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Programme d'études
            </a>
            <a href="/regulations" class="list-group-item">
              <span class="icon icon-chevron-thin-right pull-right"></span>
              Règlements
            </a>
          </div>
        </div>
        <div class="col-md-9">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/chart.js" %}"></script>
    <script src="{% static "js/toolkit.min.js" %}"></script>
    <script src="{% static "js/application.js" %}"></script>
  </body>
</html>
