{% extends "layout.html" %}

{% block content %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="m-a-0">Formations</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <th>Année</th>
        <th>Sigle</th>
        <th>Offre</th>
      </thead>
      <tbody>
        {% for enrollment in enrollments %}
          <tr>
            <td><a href="/courses/{{ enrollment.offer_year.academic_year.year }}">{{ enrollment.offer_year.academic_year }}</a></td>
            <td>{{ enrollment.offer_year.offer.acronym }}</td>
            <td>{{ enrollment.offer_year.offer }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
