@media (min-width: 1200px){
    .container {
        width: max(1170px, 80vw);
    }
}

@media (min-width: 992px){
    .container {
        width: max(970px, 80vw);
    }
}

@media (min-width: 768px){
    .container {
        width: max(750px, 90vw);
    }
}
.fa-info {
    color: #337ab7;
}