{% load staticfiles %}
{% load i18n %}

{% if 'admission' in installed_apps %}
    <div class="grid-item">
        <i class="fa fa-address-card-o"></i>
        <div class="description">
            <h4 class="media-heading">
                <a
                        href="{% url 'admission:doctorate-list' %}"
                        id="lnk_admission"
                >
                    {% trans 'Admission requests' %}
                </a>
            </h4>
            <p>{% trans 'Create and manage my admission request for UCLouvain' %}.</p>
        </div>
    </div>
{% endif %}
