{% load staticfiles %}
{% load i18n %}

<div class="grid-item">
    <i class="fa fa-id-card-o"></i>
    <div class="description">
        <h4 class="media-heading"><a href="{% url 'student_id_data_home' %}"
                                     id="lnk_my_data">{% trans 'My personal data' %}</a></h4>
        <p>{% trans 'This process shows personal data.' %}</p>
    </div>
</div>

{% if 'internship' in installed_apps %}
    {% if perms.internship.can_access_internship %}
        <div class="grid-item">
            <i class="fa fa-user-md"></i>
            <div class="description">
                <h4 class="media-heading"><a href="{% url 'internship' %}"
                                             id="lnk_internship">{% trans 'Internships assessment' %}</a></h4>
                <p>{% trans 'This process controls internships assessment.' %}</p>
            </div>
        </div>
    {% endif %}
{% endif %}
