{% load static %}
{% load i18n %}

{% if 'internship' in installed_apps %}
    {% if perms.internship.can_access_internship %}
        <div class="grid-item" style="grid-area: internship;">
            <i class="fa fa-user-md" style="grid-area: icon;"></i>
            <h4 class="media-heading" style="grid-area: title;">
                <a href="{% url 'internship' %}" id="lnk_internship">{% trans 'Internships assessment' %}</a>
            </h4>
            <div class="description" style="grid-area: description;">
                <p>{% trans 'This process controls internships assessment.' %}</p>
            </div>
        </div>
    {% endif %}
{% endif %}
