{% load static %}
{% load i18n %}

<div class="grid-item" style="grid-area: my-data;">
    <i class="far fa-id-card" style="grid-area: icon;"></i>
    <h4 class="media-heading" style="grid-area: title;">
        <a href="{% url 'student_id_data_home' %}" id="lnk_my_data">{% trans 'My personal data' %}
        </a>
    </h4>
    <div class="description" style="grid-area: description;">
        <p>{% trans 'This process shows personal data.' %}</p>
    </div>
</div>

{% if 'performance' in installed_apps %}
    <div class="grid-item" style="grid-area: performance;">
        <i class="fa fa-chart-line" style="grid-area: icon;"></i>
        <h4 class="media-heading" style="grid-area: title;">
            <a href="{% url 'performance_home' %}" id="lnk_performance">{% trans 'Annual program' %}</a>
        </h4>
        <div class="description" style="grid-area: description;">
            <p>{% trans 'View my annual program and exam marks' %}.</p>
        </div>
    </div>
{% endif %}

{% if 'attestation' in installed_apps %}
    <div class="grid-item" style="grid-area: attestation;">
        <i class="far fa-file-pdf" style="grid-area: icon;"></i>
        <h4 class="media-heading" style="grid-area: title;">
            <a href="{% url 'attestation_home' %}" id="lnk_my_attestations">{% trans 'My attestations' %}</a></h4>
        <div class="description" style="grid-area: description;">
            <p>{% trans 'This process controls my attestations.' %}</p>
        </div>
    </div>
{% endif %}

{% if 'exam_enrollment' in installed_apps %}
    <div class="grid-item" style="grid-area: exam-enrollment;">
        <i class="fa fa-book" style="grid-area: icon;"></i>
        <h4 class="media-heading" style="grid-area: title;">
            <a href="{% url 'exam_enrollment_offer_choice' %}" id="lnk_exam_enrollment_offer_choice">
                {% trans 'Exams enrollment' %}
            </a>
        </h4>
        <div class="description" style="grid-area: description;">
            <p>{% trans 'Manage my exam registration' %}.</p>
        </div>
    </div>
{% endif %}

{% if 'assessments' in installed_apps %}
    <div class="grid-item" style="grid-area: attendance;">
        <i class="fa fa-user-slash" style="grid-area: icon;"></i>
        <h4 class="media-heading" style="grid-area: title;">
            <a href="{% url 'attendance-mark-select-offer' %}" id="lnk_exam_enrollment_offer_choice">
                {% trans 'My attendance marks' %}
            </a>
        </h4>
        <div class="description" style="grid-area: description;">
            <p>{% trans 'Request an attendance mark (0/20)' %}.</p>
        </div>
    </div>
{% endif %}

{% if 'internship' in installed_apps %}
    {% if perms.internship.can_access_internship %}
        <div class="grid-item" style="grid-area: internship;">
            <i class="fa fa-user-md" style="grid-area: icon;"></i>
            <h4 class="media-heading" style="grid-area: title;">
                <a href="{% url 'internship' %}" id="lnk_internship">{% trans 'Internships' %}</a>
            </h4>
            <div class="description" style="grid-area: description;">
                <p>{% trans 'This process controls students internships.' %}</p>
            </div>
        </div>
    {% endif %}
{% endif %}
