{% load staticfiles %}
{% load i18n %}

{% if 'performance' in installed_apps %}
    <div class="grid-item">
        <i class="fa fa-line-chart"></i>
        <div class="description">
            <h4 class="media-heading"><a href="{% url 'performance_home'  %}" id="lnk_performance">{% trans 'performance' %}</a></h4>
            <p>{% trans 'desc_lnk_performance' %}</p>
        </div>
    </div>
{% endif %}

{% if 'attestation' in installed_apps %}
    <div class="grid-item">
        <i class="fa fa-file-pdf-o"></i>
        <div class="description">
            <h4 class="media-heading"><a href="{% url 'attestation_home' %}" id="lnk_my_attestations">{% trans 'my_attestations' %}</a></h4>
            <p>{% trans 'desc_lnk_my_attestations' %}</p>
        </div>
    </div>
{% endif %}

{% if 'exam_enrollment' in installed_apps %}
    <div class="grid-item">
       <i class="fa fa-book"></i>
       <div class="description">
           <h4 class="media-heading"><a href="{% url 'exam_enrollment_offer_choice' %}" id="lnk_exam_enrollment_offer_choice">{% trans 'exams_enrollment' %}</a></h4>
           <p>{% trans 'desc_lnk_exam_enrollment' %}</p>
       </div>
    </div>
{% endif %}

{% if 'internship' in installed_apps %}
    <div class="grid-item">
        <i class="fa fa-user-md"></i>
        <div class="description">
            <h4 class="media-heading"><a href="{% url 'internship_home'  %}" id="lnk_internship">{% trans 'internships' %}</a></h4>
            <p>{% trans 'desc_lnk_internships' %}</p>
        </div>
    </div>
{% endif %}