{% load staticfiles %}
{% load i18n %}

<div class="row">
    <div class="col-md-6">
        {% if 'performance' in installed_apps %}
            <div class="row">
                <div class="col-md-2"><i class="fa fa-line-chart" style="font-size: 400%; color: #6699FF;"></i></div>
                <div class="col-md-10">
                    <h4 class="media-heading"><a href="{% url 'performance_home'  %}" id="lnk_performance">{% trans 'performance' %}</a></h4>
                    <p>{% trans 'desc_lnk_performance' %}</p>
                </div>
            </div>
            <br>
        {% endif %}
        {% if 'attestation' in installed_apps %}
            <div class="row">
                <div class="col-md-2"><i class="fa fa-file-pdf-o" style="font-size: 400%; color: #6699FF;"></i></div>
                <div class="col-md-10">
                    <h4 class="media-heading"><a href="{% url 'attestation_home' %}" id="lnk_my_attestations">{% trans 'my_attestations' %}</a></h4>
                    <p>{% trans 'desc_lnk_my_attestations' %}</p>
                </div>
            </div>
            <br>
        {% endif %}
        {% if 'exam_enrollment' in installed_apps %}
            <div class="row">
                <div class="col-md-2"><i class="fa fa-list-alt" style="font-size: 400%; color: #6699FF;"></i></div>
                <div class="col-md-10">
                    <h4 class="media-heading"><a href="{% url 'exam_enrollment_offer_choice' %}" id="lnk_exam_enrollment_offer_choice">{% trans 'exams_enrollment' %}</a></h4>
                    <p>{% trans 'desc_lnk_exam_enrollment' %}</p>
                </div>
            </div>
            <br>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if 'internship' in installed_apps %}
            <div class="row">
                <div class="col-md-2"><i class="fa fa-user-md" style="font-size: 400%; color: #6699FF;"></i></div>
                <div class="col-md-10">
                    <h4 class="media-heading"><a href="{% url 'internship_home'  %}" id="lnk_performance">{% trans 'internship' %}</a></h4>
                    <p>{% trans 'desc_lnk_internship' %}</p>
                </div>
            </div>
            <br>
        {% endif %}
    </div>
</div>