{% load staticfiles %}
{% load i18n %}


<div class="grid-item">
    <i class="fa fa-hashtag"></i>
    <div class="description">
        <h4 class="media-heading"><a href="{% url 'scores_encoding' %}" id="lnk_score_encoding">{% trans 'Scores encoding' %}</a></h4>
        <p>{% trans 'Get scores encoding papersheet and encode scores of your students.' %}</p>
    </div>
</div>

{% if 'attribution' in installed_apps  %}
   {% if online_application_opened %}
        <div class="grid-item">
            <i class="fa fa-id-card-o"></i>
            <div class="description">
                <h4 class="media-heading"><a href="{% url 'applications_overview' %}" id="lnk_my_applications">{% trans 'My applications' %}</a></h4>
                <p>{% trans 'This process controls my applications' %}</p>
            </div>
        </div>
   {% endif %}
   <div class="grid-item">
        <i class="fa fa-list-alt"></i>
        <div class="description">
            <h4 class="media-heading"><a href="{% url 'attribution_home' %}" id="lnk_my_teaching_charge">{% trans 'My teaching charge' %}</a></h4>
            <p>{% trans 'This process controls the teaching charge.' %}</p>
        </div>
   </div>
   <div class="grid-item">
        <i class="fa fa-file-excel-o"></i>
        <div class="description">
            <h4 class="media-heading"><a href="{% url 'students_list' %}" id="lnk_my_students_list">{% trans 'Exam student list' %}</a></h4>
            <p>{% trans 'This process controls the students internship.' %}</p>
        </div>
    </div>

    <div class="grid-item">
        <i class="fa fa-file-text-o"></i>
        <div class="description">
            <h4 class="media-heading">
                <a href="{{manage_courses_url}}" id="lnk_manage_courses">
                    {% trans 'Manage educational information' %}
                </a>
            </h4>
            <p>
                <span class="dashboard-vpn-warning fa fa-exclamation-triangle" aria-hidden="true"></span>
                {% if osis_vpn_help_url %}
                    <span class="dashboard-vpn-warning">
                    {% trans 'This requires a' %} <a href="{{osis_vpn_help_url}}" target="_blank" >{% trans 'VPN access ' %} </a> {% trans 'outside UCL.' %}"
               </span>
                {% else %}
                    <span class="dashboard-vpn-warning">
                    {% trans 'This requires a VPN access outside UCL.' %}
                </span>
                {% endif %}
            </p>
        </div>
    </div>
{% endif %}


