os
sys
*.pdf
*.pyc
*.iml
.idea/
*.csv
venv/
__pycache__/
backoffice/server_settings.py
/base/tests/sent_mails
/reports
.project
.settings
.vscode/
.pydevproject
*.mo
/uploads/
.env
.coverage
*.sh
*~
htmlcov/
dev.py
ghostdriver.log
dev-requirements.txt
.DS_Store
.coveragerc
